@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigate;
@implements IDisposable;
@using AppRealTime.Models;
@using AppRealTime.Services;
@inherits OwningComponentBase<ChatServices>


<div>
    <input type="text" placeholder="user name" @bind="userInput"/>
</div>
<div>
    <input type="text" placeholder="message" @bind="messageInput"/>
</div>


<hr/>
<table class="table">
    @if (DisplayData != null ){
        foreach (var item in DisplayData)
        {
            <tr>
                <td>
                    @item.Users
                </td>
                <td>@item.UsersMessages</td>
                <td></td>
            </tr>
        }
    }
    
</table>

@code{
    private HubConnection _hubconnection;

    private List<string> AllMessage = new List<string>();
    private string userInput; 
    private string messageInput;
    List<UsersChat> DisplayData;

    protected override async Task OnInitializedAsync(){
        _hubconnection = new HubConnectionBuilder()
        .WithUrl(Navigate.ToAbsoluteUri("/SignalR"))
        .Build();

        _hubconnection.On<List<UsersChat>>("Receive", (data) =>
        {
            DisplayData = data;
            InvokeAsync(() => this.StateHasChanged());
        });
        await _hubconnection.StartAsync();
    }

    public void Dispose(){
        _ = _hubconnection.DisposeAsync();
    }
}
